/.vs/Site11/CopilotIndices
/.vs/Site11/FileContentIndex
/.vs/Site11/v17
/packages/ExMod.Exiled.9.8.1
/Site11/.vs
/Site11/bin
Site-11-Cursed/
Site11/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Site11/obj
Site11/packages.config
